h5py
opencv-python-headless
opencv-python
PyYAML
lmdb
metric-learn
numpy
pandas
pytorch-ignite
scikit-image
scikit-learn
scipy
six
timm
torch
torchtoolbox
torchvision
wrapt
yacs
huggingface-hub
tqdm
ruamel.yaml
matplotlib
decord
ultralytics
torchreid
pillow
